* {
  box-sizing: border-box;
}

/* .image {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 16px;
  border: 1px dotted gray;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
} */

.image {
  margin: 16px;
}

.image:nth-child(1) {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px dotted gray;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.image:nth-child(2) {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px dotted gray;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.image:nth-child(3) {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px dotted gray;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
