* {
  box-sizing: border-box;
}

/* .image {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 16px;
  border: 1px dotted gray;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
} */

.gallery {
  display: flex;
  margin: 0;
  padding: 0;
}
.image:nth-child(1) {
  margin: 16px;
  /* display: inline-block; */
  width: 200px;
  height: 200px;
  border: 1px dotted gray;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.image:nth-child(2) {
  margin: 16px;
  /* display: inline-block; */
  width: 200px;
  height: 200px;
  border: 1px dotted gray;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.image:nth-child(3) {
  margin: 16px;
  /* display: inline-block; */
  width: 200px;
  height: 200px;
  border: 1px dotted gray;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
