* {
  box-sizing: border-box;
}
div {
  width: 150px;
  height: 100px;
  margin: 16px;
}

.articles {
  display: flex;
  width: 100%;
}

.visible-text {
  overflow: visible;
  background-color: beige;
}

.cropped {
  overflow: hidden;
  background-color: beige;
}

.both-scrolls {
  overflow: scroll;
  background-color: beige;
}

.vertical-scroll {
  overflow: auto;
  background-color: beige;
}
