* {
  box-sizing: border-box;
}

.articles {
  display: flex;
}

.visible-text {
  width: 150px;
  height: 100px;
  margin: 16px;
  background-color: beige;
  overflow: visible;
}

.cropped {
  width: 150px;
  height: 100px;
  margin: 16px;
  background-color: beige;
  overflow: hidden;
}

.both-scrolls {
  width: 150px;
  height: 100px;
  margin: 16px;
  background-color: beige;
  overflow: scroll;
}

.vertical-scroll {
  width: 150px;
  height: 100px;
  margin: 16px;
  background-color: beige;
  overflow: auto;
}
