* {
  box-sizing: border-box;
}

.header {
  height: 40px;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  height: 40px;
  background-color: green;
}

.navigation {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style-type: none;
}

.navigation_item {
  margin-left: 16px;
}

.footer_text {
  margin: auto;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
}

.dashboard {
  display: flex;
  flex-grow: 1;
  background-color: pink;
  justify-content: center;
  align-items: center;
}

.news {
  width: 200px;
  background-color: gray;
}

.list_item {
  list-style-type: none;
  margin-left: 16px;
  line-height: 40px;
}

.header_news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.list {
  padding: 0px;
}
