.header {
  position: fixed;
  height: 40px;
  background-color: darkturquoise;
  width: 100%;
  z-index: 1;
}

.navigation {
  height: 40px;
  float: left;
}
.nav-item {
  float: left;
  color: white;
  margin-left: 16px;
  list-style-type: none;
}

.content {
  height: 5000px;
  background-color: beige;
}

.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: absolute;
  top: calc(50% - 200px / 2);
  left: calc(50% - 200px / 2);
}

.ear_right {
  height: 60px;
  width: 40px;
  background-color: brown;
  position: absolute;
  top: -60px;
  left: -40px;
}

.ear_left {
  height: 60px;
  width: 40px;
  background-color: brown;
  position: absolute;
  top: -60px;
  right: -40px;
}
.eye_left {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 80px;
  left: 40px;
}

.eye_right {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top: 80px;
  right: 40px;
}
