* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-direction: column;
  /* flex: 2; */
  /* flex-grow: 2;
  flex-basis: 0; */
}

.navigation {
  flex: 1;
  /* flex-grow: 1;
  flex-basis: 0; */
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
}

.products-list {
  flex: 1;
  /* flex-grow: 1;
  flex-basis: 0; */
  min-height: 200px;
  display: flex;
  background-color: #006400;
  min-height: 200px;
}

.news {
  flex: 1;
  /* flex-grow: 1;
  flex-basis: 0; */
  min-height: 200px;
  display: flex;
  background-color: #0ff;
  min-height: 200px;
}

span {
  font-family: Verdana;
  margin: auto;
  padding: 8px;
  border-radius: 4px;
  background-color: #faebd7;
  text-transform: lowercase;
}

@media screen and (min-width: 600px) {
  .products {
    flex-direction: row;
  }

  @media screen and (min-width: 900px) {
    .container {
      flex-direction: row;
    }
    .products {
      flex: 2;
    }
  }
}
